:root {
    --bg-color: #1F2937;
    --hero-text-color: #F9FaF8;
    --hero-text-color-second: #E5E7EB;
    --header-text-color: #F9FaF8;
    --button-color: #3882F6;
    --info-header-text-color: #1F2937;
    --quote-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

* {
    /* for debug purposes, set to 1px to see where everything is */
    border: 1px solid #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-color);
    min-height: 100vh;
    margin: 0;
}

.block-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-section {
    width: 980px;
    min-height: 100px;
}

.header {
    background-color: var(--bg-color);
}

.hero {
    background-color: var(--bg-color);
}

.info {
    background-color: #fff;
}

.quote {
    background-color: var(--quote-bg-color);
}

.cta {
    background-color: #fff;
}

.footer {
    background-color: var(--bg-color);
}