:root {
    --bg-color: #1F2937;
    --hero-text-color: #F9FaF8;
    --hero-text-color-second: #E5E7EB;
    --header-text-color: #F9FaF8;
    --button-color: #3882F6;
    --info-header-text-color: #1F2937;
    --quote-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

* {
    border: 1px solid #fff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    background-color: var(--bg-color);
    min-height: 100vh;
    border: 0px;
}

.header {
    flex: 1;
    display: flex;
    height: 70px;
    color: var(--header-text-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    flex: 1;
    display: flex;
    font-size: 24px;
}

.header-menu {
    flex: 1;
    display: flex;
}

.header-menu ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu a {
    color: var(--header-text-color);
    text-decoration: none;
}


/*
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: var(--hero-text-color);
}

.hero-secondary {
    font-size: 18px;
}

button {
    background-color: var(--button-color);
    color: #fff;
}

button.call-to-action-button {
    border: 4px solid #fff;
    border-radius: 4px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: var(--info-header-text-color);
}

.quote {
    background-color: var(--quote-bg-color);
    color: var(--quote-text-color);
    font-size: 36px;
    font-style: italic;
}
*/